name: Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always
  LLVM_VERSION: 21

jobs:
  shellcheck:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Validate shell scripts
        uses: ludeeus/action-shellcheck@master
        with:
          check_together: 'yes'
          scandir: ./scripts

  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install LLVM
        run: ./scripts/fetch-llvm.sh

      - name: Build
        run: cargo build --verbose

      - name: Run tests
        run: cargo test --verbose
