name: Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always
  LLVM_VERSION: 21

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Install LLVM
      run: |-        
        LLVM_MAJOR_VERSION=21
        
        sudo apt-get update
        
        wget https://apt.llvm.org/llvm.sh
        chmod +x llvm.sh
        sudo ./llvm.sh "${LLVM_VERSION}"
        rm llvm.sh

        # Point llvm-config to llvm-config-$LLVM_VERSION so Rust doesn't whinge about it 
        sudo ln -sf "$(command -v "llvm-config-${LLVM_VERSION}")" /usr/bin/llvm-config
        
        llvm-config --version

    - name: Build
      run: cargo build --verbose

    - name: Run tests
      run: cargo test --verbose
